version: '3'

services:
  test:
    image: pingpong-test
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./logs:/var/pingpong/logs:rw
    environment:
      - CRON_MINUTE=*
      - MAX_TIME=30
      - FOLLOW_LINKS=0
      - MAX_SAMPLES=5
      - MAX_ERRORS=5

  pingpong:
    image: mrboots/pingpong
    volumes:
      - ./URLS:/var/pingpong/URLS
      - ./logs:/var/pingpong/logs:rw
    environment:
      - CRON_MINUTE=*/15
      - FOLLOW_LINKS=0
