version: '3'

services:
  core.local:
    image: pingpong-core
    build:
      context: .
      dockerfile: Dockerfile.core
    volumes:
      - ./URLS:/var/URLS
      - ./log:/var/log:rw
    environment:
      - CRON_STRINGS=*/10 * * * * /bin/sh /scripts/run.sh
      - FOLLOW_LINKS=1
      - APPEND_LOG=1
      - MAX_TIME=30

  core:
    image: mrboots/pingpong-core
    volumes:
      - ./URLS:/var/URLS
      - ./log:/var/log:rw
    environment:
      - CRON_STRINGS=*/10 * * * * /bin/sh /scripts/run.sh

  api:
    image: pingpong-api
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - 8000:8000
    volumes:
      - ./api/pingpong.py:/pingpong.py
      - ./log/pingpong.log:/var/DB
